* {
    box-sizing: border-box;
}

body {
    background-color: #090114;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container div {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.title {
    color: white;
    font-size: 50px;

    margin-block: 28px;
}

.generateButton {
    font-weight: bolder;
    font-size: 24px;

    background-color: #090114;
    color: white;
    border: white 3px solid;
    border-radius: 8px;

    width: 220px;
    height: 50px;

    transition: background-color 0.2s, color 0.2s;

    cursor: pointer;

    margin-bottom: 52px;
}

.generateButton:active  {
    color: #090114;
    background-color: white;
}

.jokeBox {
    width: 535px;
    padding: 0 20px;
}

.jokeResult {
    color: white;
    font-weight: bold;

    font-size: 24px;
    text-align: center;
}

@media (max-width: 535px) {
    .title {
        font-size: 35px;
    }
    .jokeBox {
        width: 300px;
    }
    .jokeResult {
        font-size: 1.1rem;
    }
}